<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Wesley Lima - <%= title %></title>
		
		<link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/components/github-repositories.css">
	</head>
	<body>
		<section class='content'>
			<section class="projects">
				<div data-repo="thwess/essential-js-design-patterns" class="github-box-wrap js-github-repository"></div>
				<div data-repo="thwess/todos-list" class="github-box-wrap js-github-repository"></div>
				<div data-repo="thwess/mogi.js" class="github-box-wrap js-github-repository"></div>
				<div data-repo="thwess/paszlaw" class="github-box-wrap js-github-repository"></div>
				<div data-repo="thwess/-NodeJs-mongoDB" class="github-box-wrap js-github-repository"></div>
        	</section>
		</section>
        
	</body>
<% include ../bottom %>