<!doctype html>
<html lang="pt-br">

	<body>
		<main class='all'>
			<h1>Components</h1>

			<ul>
				<li><a href="/preview/font-skin">Font skin</a></li>
				<li><a href="/preview/lnk-btn">Lnk btn</a></li>
				<li><a href="/preview/menu">Menu</a></li>
				<li><a href="/preview/github-repositories">Github repositories</a></li>
				<li><a href="/preview/breaks">Break outside/inside</a></li>
				<li><a href="/preview/social-media">Social media</a></li>
				<li><a href="/preview/loader">Loader</a></li>
				<li><a href="/preview/feed">Feed</a></li>
				<li><a href="/preview/logo">Logo</a></li>
			</ul>
		</main>
	</body>
<% include ../bottom %>