<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Link Button</title>
            
            <link rel="stylesheet" href="/css/default.css">
            <link rel="stylesheet" href="/css/components/font-skin.css">
            <link rel="stylesheet" href="/css/components/lnk-btn.css">

            <style>

                  /* Illustration conteiner */
                  body {
                        position: relative;
                        width: 4em;
                        height: 4em;
                  }

            </style>
	</head>
	<body>
            <div class="item-wrapper">
                  <a class='lnk-btn' href='javascript:void(0);'>
                        <span class='icon font-home' title='home'></span>
                  </a>
            </div>
	</body>
<% include ../bottom %>