<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Wesley Lima - <%= title %></title>

		<link rel="stylesheet" href="/css/default.css">
		<link rel="stylesheet" href="/css/components/logo.css">

		<style>
			.test-logo {
				margin: 0 auto;
				width: 30em;
				height: 30em;
			}
		</style>
	</head>
	<body class='js-logo'>
		<div class='test-logo'>
			<div class='wrapper-logo-complex js-char'>
				<div class='logo-complex'>
					<div class='root js-root'>
						<div class='face'>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
<% include ../bottom %>