<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Wesley Lima - <%= title %></title>

            <link rel="stylesheet" href="/css/default.css">
            <link rel="stylesheet" href="/css/components/base.css">
	</head>
	<body>
	</body>
<% include ../bottom %>