<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Wesley Lima - <%= title %></title>

            <link rel="stylesheet" href="/css/default.css">
            <link rel="stylesheet" href="/css/main.css">
            <link rel="stylesheet" href="/css/components/breaks.css">
	</head>
	<body>

		<div class='wrapper-break'></div>
		
	</body>
<% include ../bottom %>
