<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Wesley Lima - <%= title %></title>

            <link rel="stylesheet" href="/css/default.css">
            <link rel="stylesheet" href="/css/components/font-skin.css">
	</head>
	<body>
            <h1>Preview Link button</h1>
            
            <p>
                  <span class='font-spin2' title=''></span>
                  <span class='font-linkedin-circled' title=''></span>
                  <span class='font-beaker' title=''></span>
                  <span class='font-user' title=''></span>
                  <span class='font-th-large-outline' title=''></span>
                  <span class='font-home' title=''></span>
                  <span class='font-record-outline' title=''></span>
                  <span class='font-comment-empty' title=''></span>
                  <span class='font-mail' title=''></span>
                  <span class='font-github-circled' title=''></span>
                  <span class='font-twitter-circled' title=''></span>
                  <span class='font-facebook-circled' title=''></span>
                  <span class='font-gplus-circled' title=''></span>
                  <span class='font-record' title=''></span>
            </p>
	</body>
<% include ../bottom %>