<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Wesley Lima - <%= title %></title>

            <link rel="stylesheet" href="/css/default.css">
            <link rel="stylesheet" href="/css/components/font-skin.css">
            <link rel="stylesheet" href="/css/components/social-media.css">
	</head>
	<body>
		<section class='social-media'>
			<a href='http://www.linkedin.com/in/thwess' class='font-linkedin-circled' target='_blank'></a>
			<a href='https://github.com/thwess' class='font-github-circled' target='_blank'></a>
			<a href='https://twitter.com/thwess' class='font-twitter-circled' target='_blank'></a>
			<a href='http://www.facebook.com/thwess' class='font-facebook-circled' target='_blank'></a>
			<a href='https://plus.google.com/u/0/104617686308448617814/posts' class='font-gplus-circled' target='_blank'></a>
		</section>
	</body>
<% include ../bottom %>