<head>
	<meta charset="UTF-8">
	<title>Wesley Lima - <%= title %></title>

	<!-- apple icon -->
	<link rel="apple-touch-icon" href="apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="57x57_apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="72x72_apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="114x114_apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="144x144_apple-touch-icon.png" />
	
	<link rel="stylesheet" href="/css/main.css">

	<!--[if lt IE 9]>
		<script src="js/libraries/html5shiv.js"></script>
	<![endif]-->
</head>