<header class='header js-menu'>
	<nav class="navigation">
            <div class='bg-navigation-fixed'></div>
            <ul class='menu'>
                  <li class="item-wrapper">
                        <a class='lnk-btn style-btn-1' href='/'>
                              <span class='icon font-home' title='principal'></span>
                        </a>
                  </li>
                  <li class="item-wrapper">
                        <a class='lnk-btn style-btn-2' href='/sobre'>
                              <span class='icon font-user' title='sobre'></span>
                        </a>
                  </li>
                  <li class="item-wrapper">
                        <div class='lnk-btn style-btn-3'>
                             <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
                                    <g>
                                          <g>
                                                <path fill="#ffffff" d="M76.46,40.001c-0.106,11.696-5.643,22.639-15.106,29.55c-9.501,6.939-21.942,8.591-33.048,4.96
                                                      C17.401,70.946,8.842,61.903,5.304,51.083C1.647,39.897,3.978,27.567,10.86,18.144C20.109,5.479,37.039,0.68,51.745,5.489
                                                      C66.494,10.312,76.321,24.674,76.46,40.001c0.018,1.934,3.018,1.935,3,0C79.251,17.068,59.434-1.155,36.534,0.724
                                                      C25.676,1.616,15.596,7.267,8.9,15.803c-6.844,8.724-9.444,19.927-7.749,30.817c3.135,20.141,22.352,34.298,42.366,32.655
                                                      c20.226-1.66,35.76-19.204,35.943-39.275C79.478,38.066,76.478,38.067,76.46,40.001z"/>
                                          </g>
                                    </g>
                                    <g>
                                          <g>
                                                <path fill="#ffffff" d="M4.37,45.769c4.183-6.688,10.592-10.75,18.596-9.01c6.066,1.319,11.531,5.377,15.376,10.142
                                                      c0.474,0.588,1.648,0.594,2.121,0c3.707-4.651,8.633-8.477,14.406-10.123c8.436-2.405,15.826,2.411,20.811,8.927
                                                      c1.158,1.514,3.766,0.023,2.59-1.514c-5.451-7.127-12.795-12.101-22.058-10.767c-7.059,1.017-13.526,5.905-17.871,11.355
                                                      c0.707,0,1.414,0,2.121,0c-4.517-5.598-11.113-10.042-18.285-11.215C13.416,32.131,6.28,37.06,1.779,44.254
                                                      C0.75,45.9,3.347,47.404,4.37,45.769L4.37,45.769z"/>
                                          </g>
                                    </g>
                              </svg>
                        </div>
                  </li>

                  <li class="item-wrapper">
                        <a class='lnk-btn style-btn-4' href='/projetos'>
                              <span class='icon font-th-large-outline' title='projetos'></span>
                        </a>
                  </li>
                  <li class="item-wrapper">
                        <a class='lnk-btn style-btn-5' href='/contato'>
                              <span class='icon font-mail' title='contato'></span>
                        </a>
                  </li>
            </ul>
      </nav>
</header>