<% include top %>

<body>
	<div class='all'>
		<div class='top-fixed'>
			<% include header %>

			<main class='style-3'>
				<header>
					<h1>Lab</h1>
				</header>

				<div class='wrapper-break break-style-0'></div>
				
				<div class='wrapper-content'>
					<section></section>
				</div>

				<div class='wrapper-break break-style-0'></div>
			</main>
		</div>
		
		<% include footer %>
	</div>
<% include bottom %>