<% include top %>

<body>
	<div class='all'>
		<div class='top-fixed'>
			<% include header %>

			<main class='style-4'>
				<header>
					<h1>Sobre</h1>
				</header>

				<div class='wrapper-break break-style-0'></div>
				
				<div class='wrapper-content'>
					<section class='projects'>
						<div data-repo="thwess/robotscripts" class="github-box-wrap js-github-repository"></div>

						<div data-repo="thwess/essential-js-design-patterns" class="github-box-wrap js-github-repository"></div>

						<div data-repo="thwess/aws-parent" class="github-box-wrap js-github-repository"></div>

						<div data-repo="thwess/paszlaw" class="github-box-wrap js-github-repository"></div>

						<div data-repo="thwess/mobile-boilerplate" class="github-box-wrap js-github-repository"></div>

						<div data-repo="thwess/BrowserQuest" class="github-box-wrap js-github-repository"></div>
					</section>
				</div>

				<div class='wrapper-break break-style-0'></div>
			</main>
		</div>
		
		<% include footer %>
	</div>
<% include bottom %>