/*Size*/
/*Colors*/
/*blue*/
/*dark-gray*/
/*dark-gray fixed*/
/*light-yellow*/
/*white*/
/*white fixed*/
/*red*/
/*medium-blue*/
/*orange*/
/*medium-green*/
/*yellow*/
/*Timing*/
/*
* Prefixes
*/
/*
* Breaks
*/
/* line 3, ../../sass/components/social-media.scss */
.social-media {
  font-size: 2.5em;
}
/* line 6, ../../sass/components/social-media.scss */
.social-media .font-linkedin-circled:before {
  color: #1a85bc;
}
/* line 10, ../../sass/components/social-media.scss */
.social-media .font-github-circled:before {
  color: #333333;
}
/* line 14, ../../sass/components/social-media.scss */
.social-media .font-twitter-circled:before {
  color: #00acee;
}
/* line 18, ../../sass/components/social-media.scss */
.social-media .font-facebook-circled:before {
  color: #3b5897;
}
/* line 22, ../../sass/components/social-media.scss */
.social-media .font-gplus-circled:before {
  color: #dd4b37;
}
/* line 27, ../../sass/components/social-media.scss */
.social-media .over:hover, .social-media a:hover:before {
  color: #222222;
}
/* line 32, ../../sass/components/social-media.scss */
.social-media a {
  text-decoration: none;
  margin-left: -.2em;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 43, ../../sass/components/social-media.scss */
.social-media a:first-child {
  margin-left: 0;
}
