<% include top %>

<body>
	<div class='all'>
		<div class='top-fixed'>
			<% include header %>

			<main class='style-2 js-about'>
				<header>
					<h1>Sobre</h1>
				</header>

				<div class='wrapper-break break-style-0'></div>
				
				<section class='wrapper-content'>
					<article class='about'>
						<p>Wesley Lima têm 28 anos e vive em Mogi das Cruzes onde cursa o último semestre em Sistemas de Informação na Universidade de Mogi das Cruzes.</p>
						<p>Iniciou sua vida tecnológica aos 12 anos quando teve contato pela primeira vez com a informática e desde então passou por incríveis experiências.</p>
						<p>Formado eletrotécnico na escola técnica Presidente Vargas, passou 6 anos trabalhando, estudando e interagindo com a eletricidade(literalmente).</p>
						<p>A programação de sistemas entrou em sua vida em 2009, desde então têm estudado e aperfeiçoado seus conhecimentos aprendendo e quebrando paradigmas. Possui conhecimentos em diversas metodologias, linguagens e plataformas. </p>
						<p>Aquilo que era só diversão levou-o a buscar oportunidades mais sérias, sua principal motivação é entender o desconhecido e fazer o improvável.</p>
						<p>Atualmente trabalha com desenvolvimento web e realiza projetos voltados a robótica e automação que são seus hobbies.</p>
					</article>
				</section>

				<div class='wrapper-break break-style-0'></div>

				<h1>Conhecimentos</h1>

				<div class='wrapper-break break-style-4'></div>

				<section class='wrapper-content'>
					<ul class='circle-charts'>
						<li class='wrapper-chart'>
							<div class='wrapper-chart-fixe'>
								<div class='chart chart-style-1 js-circle-chart' title='95'>
									<div class='half-left'></div>
									<div class='half-right'></div>

									<div class='legend'>
										<span class='value'>0</span>
										<span class='name'>HTML</span>
									</div>
								</div>
							</div>
						</li>
						<li class='wrapper-chart'>
							<div class='wrapper-chart-fixe'>
								<div class='chart chart-style-2 js-circle-chart' title='95'>
									<div class='half-left'></div>
									<div class='half-right'></div>

									<div class='legend'>
										<span class='value'>0</span>
										<span class='name'>CSS</span>
									</div>
								</div>
							</div>
						</li>
						<li class='wrapper-chart'>
							<div class='wrapper-chart-fixe'>
								<div class='chart chart-style-3 js-circle-chart' title='90'>
									<div class='half-left'></div>
									<div class='half-right'></div>

									<div class='legend'>
										<span class='value'>0</span>
										<span class='name'>Javascript</span>
									</div>
								</div>
							</div>
						</li>
						<li class='wrapper-chart'>
							<div class='wrapper-chart-fixe'>
								<div class='chart chart-style-4 js-circle-chart' title='85'>
									<div class='half-left'></div>
									<div class='half-right'></div>

									<div class='legend'>
										<span class='value'>0</span>
										<span class='name'>NodeJS</span>
									</div>
								</div>
							</div>
						</li>
						<li class='wrapper-chart'>
							<div class='wrapper-chart-fixe'>
								<div class='chart chart-style-5 js-circle-chart' title='80'>
									<div class='half-left'></div>
									<div class='half-right'></div>

									<div class='legend'>
										<span class='value'>0</span>
										<span class='name'>Java</span>
									</div>
								</div>
							</div>
						</li>
						<li class='wrapper-chart'>
							<div class='wrapper-chart-fixe'>
								<div class='chart chart-style-1 js-circle-chart' title='65'>
									<div class='half-left'></div>
									<div class='half-right'></div>

									<div class='legend'>
										<span class='value'>0</span>
										<span class='name'>PHP</span>
									</div>
								</div>
							</div>
						</li>						
					</ul>

					<ul class='skills js-wrapper-bounce'>
						<li class='box js-bounce-in'>Illustrator</li>
						<li class='box js-bounce-in'>JQuery</li>
						<li class='box js-bounce-in'>HammerJS</li>
						<li class='box js-bounce-in'>Photoshop</li>
						<li class='box js-bounce-in'>PostgreSQL</li>
						<li class='box js-bounce-in'>MySQL</li>
						<li class='box js-bounce-in'>MongoDB</li>
						<li class='box js-bounce-in'>Scrum</li>
						<li class='box js-bounce-in'>Performance</li>
						<li class='box js-bounce-in'>Usabilidade</li>
						<li class='box js-bounce-in'>Accessibilidade</li>
						<li class='box js-bounce-in'>Web Standards</li>
						<li class='box js-bounce-in'>Design Responsivo</li>
						<li class='box js-bounce-in'>UX</li>
						<li class='box js-bounce-in'>UI</li>
						<li class='box js-bounce-in'>Algoritmos</li>
						<li class='box js-bounce-in'>Lógica de programação</li>
						<li class='box js-bounce-in'>Wireframe</li>
						<li class='box js-bounce-in'>Diagramação</li>
						<li class='box js-bounce-in'>Wordpress</li>
						<li class='box js-bounce-in'>Spring MVC</li>
						<li class='box js-bounce-in'>Hibernate</li>
						<li class='box js-bounce-in'>JUnit</li>
						<li class='box js-bounce-in'>Apache Tiles</li>
						<li class='box js-bounce-in'>Servlet</li>
						<li class='box js-bounce-in'>JSTL/EL/JSP</li>
						<li class='box js-bounce-in'>RMI</li>
						<li class='box js-bounce-in'>ExpressJS</li>
						<li class='box js-bounce-in'>Socket.IO</li>
						<li class='box js-bounce-in'>Nodemon</li>
						<li class='box js-bounce-in'>Jade</li>
						<li class='box js-bounce-in'>EJS</li>
						<li class='box js-bounce-in'>RequireJS</li>
						<li class='box js-bounce-in'>GruntJS</li>
						<li class='box js-bounce-in'>JQuery Validation</li>
						<li class='box js-bounce-in'>KineticJS</li>
						<li class='box js-bounce-in'>Compass</li>
						<li class='box js-bounce-in'>Sass</li>
						<li class='box js-bounce-in'>Less</li>
						<li class='box js-bounce-in'>Stylus</li>
						<li class='box js-bounce-in'>Boilerplate</li>
						<li class='box js-bounce-in'>Pascal</li>
						<li class='box js-bounce-in'>C</li>
						<li class='box js-bounce-in'>Modelagem de dados</li>
						<li class='box js-bounce-in'>Boas práticas</li>
						<li class='box js-bounce-in'>RUP</li>
						<li class='box js-bounce-in'>Restful</li>
						<li class='box js-bounce-in'>Git</li>
						<li class='box js-bounce-in'>SVN</li>
					</ul>
				</section>

				<div class='wrapper-break break-style-4'></div>
			</main>
		</div>
		
		<% include footer %>
	</div>
<% include bottom %>