<% include top %>

<body>
	<div class='all'>
		<div class='top-fixed'>
			<% include header %>

			<main class='style-5'>
				<header>
					<h1>Contato</h1>
				</header>

				<div class='wrapper-break break-style-0'></div>
				
				<div class='wrapper-content'>
					<section>
						<address class='contact'>
							<div>Mogi das Cruzes - SP</div>
							<div><a href='mailto:wesley@contato.pro.br'>contato@wesley.pro.br</a></div>
							<div><a href='tel://5511997974380'>(11) 99797-4380</a></div>
						</address>

						<article class='social-media'>
	                  		<a href='http://www.linkedin.com/in/thwess' class='font-linkedin-circled' target='_blank'></a>
							<a href='https://github.com/thwess' class='font-github-circled' target='_blank'></a>
							<a href='https://twitter.com/thwess' class='font-twitter-circled' target='_blank'></a>
							<a href='http://www.facebook.com/thwess' class='font-facebook-circled' target='_blank'></a>
							<a href='https://plus.google.com/u/0/104617686308448617814/posts' class='font-gplus-circled' target='_blank'></a>
						</article>
					</section>
				</div>

				<div class='wrapper-break break-style-0'></div>
			</main>
		</div>
		
		<% include footer %>
	</div>
<% include bottom %>