<% include top %>

<body>
	<div class='all'>
		<div class='top-fixed'>
			<% include header %>

			<main class='style-1'>
				<header>
					<h1>Erro</h1>
				</header>

				<div class='wrapper-break break-style-0'></div>
				
				<section>
				
					<p>Ocorreu um erro inesperado, por favor tente novamente em alguns segundos!</p>

				</section>

				<div class='wrapper-break break-style-0'></div>
			</main>
		</div>
		
		<% include footer %>
	</div>
<% include bottom %>