<header class='header js-menu'>
	<nav class='navigation'>
            <div class='bg-navigation-fixed'></div>
            <ul class='menu'>
                  <li class="item-wrapper">
                        <a class='lnk-btn style-btn-1' href='/'>
                              <span class='icon font-home' title='principal'></span>
                        </a>
                  </li>
                  <li class="item-wrapper">
                        <a class='lnk-btn style-btn-2' href='/sobre'>
                              <span class='icon font-user' title='sobre'></span>
                        </a>
                  </li>
                  <li class="item-wrapper js-logo">
                        <div class='reset-btn'>
                             <div class='wrapper-logo-complex js-char'>
                                    <div class='logo-complex'>
                                          <div class='root js-root'>
                                                <div class='face'></div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </li>

                  <li class="item-wrapper">
                        <a class='lnk-btn style-btn-4' href='/projetos'>
                              <span class='icon font-th-large-outline' title='projetos'></span>
                        </a>
                  </li>
                  <li class="item-wrapper">
                        <a class='lnk-btn style-btn-5' href='/contato'>
                              <span class='icon font-mail' title='contato'></span>
                        </a>
                  </li>
            </ul>
      </nav>
</header>