@import "reset";
@import "properties";
@import "fonts";

/*
* Standard
*/
html, body {
	height: 100%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	font: 62.5% $font-1;
	font-size: .8em;
	color: $color-2;
	overflow-y: scroll;
}

a {
	text-decoration: none;

	@include transition-duration( $primary-timing );
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3 {
	text-transform: uppercase;
    font-weight: 900;
    font-family: $font-2;
}

h1 {
	margin: .5em .64em 0;
    font-size: 1.5em;
    line-height: 1em;
	color: $color-2;
}

h3 {
	margin: 0;
    font-size: .9em;
	color: $color-2 * 1.5;
}

p {
	text-indent: 1em;
	margin-top: .5em;
}

p:first-child {
	text-indent: 1em;
	margin-top: 0;
}

.style-1 {
	@include color-pattern( $color-5 );
}

.style-btn-1 {
	color: $color-5;
	border-color: $color-5;
}

.style-2 {
	@include color-pattern( $color-6 );
}

.style-btn-2 {
	color: $color-6;
	border-color: $color-6;
}

.style-3 {
	@include color-pattern( $color-7 );
}

.style-btn-3 {
	border-color: $color-3;
	background-color: $color-3;
}

.style-4 {
	@include color-pattern( $color-8 );
}

.style-btn-4 {
	color: $color-8;
	border-color: $color-8;
}

.style-5 {
	@include color-pattern( $color-9 );
}

.style-btn-5 {
	color: $color-9;
	border-color: $color-9;
}